@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap:5px;
 
}

.wrapper h1 {
  margin-top:15px;
  margin-bottom: 30px;
  text-align: center;
  color: crimson;
  background-color:antiquewhite;
  font-size: 2rem;
  /* color: #333333; */
}

.card {
  width: 50%;
  overflow: hidden;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  transition: 0.5s;
  display: flex;
  text-align:center;
 
}
.card img {
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
  object-fit: cover;
  border:2px solid crimson;
  border-radius: 10px;
 
}

.card:hover {
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px #333);
}

.card:hover img {
    filter: grayscale(0);
}

.card figcaption{
  
  color: crimson;
  font-weight:bold;
  font-size:100%;
  
}


