*{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
    background-color:lightblue;
    transition:2s;
    scroll-behavior: smooth;
}
.score{
   
    color:crimson;
    text-align: center;
    margin-top: 15px;
}
.b{
    padding-top: 5px;
    padding-bottom: 5px; 
    background-color:antiquewhite;
}
.i {
    margin-top: 20px;
   display:flex;
    align-items: center;
    justify-content: center;
    
}
.s{
    max-width:100%;
    height:auto;
    border:2px solid crimson;
    border-radius:5%;
}